@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
*, *:before, *:after {
  font-family: "cwTeXYen", sans-serif;
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2F36;
  color: white;
}

.scene {
  width: 700px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(#489be8, #f2f9ff, #e096c2, #fc821e);
  background-size: 100% 300%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.scene .lefttopText {
  margin-left: 30px;
  margin-top: 30px;
}
.scene .lefttopText h1 {
  font-size: 36px;
  letter-spacing: 3px;
  font-weight: 300;
  margin-top: 10px;
}
.scene .lefttopText h5 {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 300;
  opacity: 0.6;
}
.scene .lefttopText p {
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0.9;
  line-height: 30px;
}
.scene .lefttopText .blueblock {
  width: 20px;
  height: 25px;
  border-radius: 0;
  background-color: #7cb1ff;
}
.scene .lefttopText .dayText {
  display: none;
}

.buttons {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}

.building {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: scale(0.95);
}

[class^=house] {
  position: absolute;
  right: 0;
  bottom: 0;
}

.house1 {
  width: 80px;
  height: 200px;
  border-radius: 200px 0px 0 0;
  background-color: #fafaf5;
  box-shadow: inset 10px 0px #e3e2cf;
  z-index: 1;
  right: 300px;
}

.house12 {
  width: 100px;
  height: 100px;
  border-radius: 0px 2000px 0 0;
  background-color: #bebdaf;
  z-index: 0;
  right: 250px;
}

.house2 {
  width: 70px;
  height: 300px;
  border-radius: 200px 0px 0 0;
  background-color: #fafaf5;
  box-shadow: inset 10px 0px #e3e2cf;
  z-index: 1;
  right: 200px;
}

.house22 {
  width: 90px;
  height: 200px;
  border-radius: 0px 2000px 0 0;
  background-color: #bebdaf;
  z-index: 0;
  right: 180px;
}

.house3 {
  width: 150px;
  height: 150px;
  border-radius: 200px 0px 0 0;
  background-color: #fafaf5;
  box-shadow: inset 10px 0px #e3e2cf;
  z-index: 2;
  right: 20px;
  bottom: -40px;
}

.house32 {
  width: 80px;
  height: 180px;
  border-radius: 0px 200px 0 0;
  background-color: #bebdaf;
  z-index: 0;
  right: 20px;
}

.house4 {
  width: 50px;
  height: 400px;
  border-radius: 200px 0px 0 0;
  background-color: #fafaf5;
  box-shadow: inset 10px 0px #e3e2cf;
  z-index: 1;
  right: 110px;
  bottom: -40px;
}

.house42 {
  width: 60px;
  height: 420px;
  border-radius: 0px 200px 0 0;
  background-color: #bebdaf;
  z-index: 0;
  right: 110px;
}

.remind {
  opacity: 0.2;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sun, .sun2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 250px;
  top: 100px;
}

.sun {
  background-color: #ffdd38;
  box-shadow: 0px 0px 20px rgba(255, 221, 56, 0.5);
  top: 400px;
  opacity: 0;
}

.sun2 {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

h1, h5, p, .sun2, .sun, .scene, .allstars, .blueblock, .building {
  transition: 2s;
}

input:checked + .scene {
  background-position: 0 100%;
}
input:checked + .scene .nightText {
  display: none;
}
input:checked + .scene .dayText {
  display: block;
}
input:checked + .scene h1, input:checked + .scene h5, input:checked + .scene p {
  color: #222;
}
input:checked + .scene .bulding {
  filter: brightness(105%);
}
input:checked + .scene .sun2 {
  top: -100px;
  opacity: 0;
}
input:checked + .scene .sun {
  top: 100px;
  opacity: 1;
}
input:checked + .scene .blueblock {
  background-color: #ffdd38;
}

input {
  display: none;
}